<div id="login" class="modal">
   <form class="modal-content animate" >
      <div class="imgcontainer">
         <span onclick="document.getElementById('login').style.display='none'" class="close" title="Close Modal">&times;</span>
      </div>
      <div class="login-form">
         <label><b>Username</b></label>
         <input class="login-input" type="text" placeholder="Enter Username" name="uname" required>
         <label><b>Password</b></label>
         <input class="login-input" type="password" placeholder="Enter Password" name="psw" required>
  
         <button class="loginbtn" type="submit">Login</button>
         <input type="checkbox" checked="checked"> Remember me
      </div>

      <div class="login-form" style="background-color:#f1f1f1">
         <span class="psw"><a href="#">Forgot password?</a></span>
      </div>
   </form>
</div>