<div class="panel-group" id="accordion">
   <div class="panel panel-default">
      <div class="panel-heading">
         <div class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Overall Rating</a>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
         </div>
      </div>
      <div id="collapse1" class="panel-collapse collapse in">
         <div class="panel-body">
            <div class="row">
               <div class="side">
                  <div>Excellent</div>
               </div>
               <div class="middle">
                  <div class="bar-container">
                     <div class="bar-5"></div>
                  </div>
               </div>
               <div class="side right">
                  <div>0</div>
               </div>
               <div class="side">
                  <div>Good</div>
               </div>
               <div class="middle">
                  <div class="bar-container">
                     <div class="bar-4"></div>
                  </div>
               </div>
               <div class="side right">
                  <div>0</div>
               </div>
               <div class="side">
                  <div>Average</div>
               </div>
               <div class="middle">
                  <div class="bar-container">
                     <div class="bar-3"></div>
                  </div>
               </div>
               <div class="side right">
                  <div>0</div>
               </div>
               <div class="side">
                  <div>Bad</div>
               </div>
               <div class="middle">
                  <div class="bar-container">
                     <div class="bar-2"></div>
                  </div>
               </div>
               <div class="side right">
                  <div>0</div>
               </div>
               <div class="side">
                  <div>Very bad</div>
               </div>
               <div class="middle">
                  <div class="bar-container">
                     <div class="bar-1"></div>
                  </div>
               </div>
               <div class="side right">
                  <div>0</div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="panel panel-default">
      <div class="panel-heading">
         <div class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Neighbors</a>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
         </div>
      </div>
      <div id="collapse2" class="panel-collapse collapse">
         <div class="panel-body">
            <div class="row">
               <div class="side">
                  <div>Excellent</div>
               </div>
               <div class="middle">
                  <div class="bar-container">
                     <div class="bar-5"></div>
                  </div>
               </div>
               <div class="side right">
                  <div>0</div>
               </div>
               <div class="side">
                  <div>Good</div>
               </div>
               <div class="middle">
                  <div class="bar-container">
                     <div class="bar-4"></div>
                  </div>
               </div>
               <div class="side right">
                  <div>0</div>
               </div>
               <div class="side">
                  <div>Average</div>
               </div>
               <div class="middle">
                  <div class="bar-container">
                     <div class="bar-3"></div>
                  </div>
               </div>
               <div class="side right">
                  <div>0</div>
               </div>
               <div class="side">
                  <div>Bad</div>
               </div>
               <div class="middle">
                  <div class="bar-container">
                     <div class="bar-2"></div>
                  </div>
               </div>
               <div class="side right">
                  <div>0</div>
               </div>
               <div class="side">
                  <div>Very bad</div>
               </div>
               <div class="middle">
                  <div class="bar-container">
                     <div class="bar-1"></div>
                  </div>
               </div>
               <div class="side right">
                  <div>0</div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="panel panel-default">
      <div class="panel-heading">
         <div class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Security</a>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
         </div>
      </div>
      <div id="collapse3" class="panel-collapse collapse">
         <div class="panel-body">
            <div class="row">
               <div class="side">
                  <div>Excellent</div>
               </div>
               <div class="middle">
                  <div class="bar-container">
                     <div class="bar-5"></div>
                  </div>
               </div>
               <div class="side right">
                  <div>0</div>
               </div>
               <div class="side">
                  <div>Good</div>
               </div>
               <div class="middle">
                  <div class="bar-container">
                     <div class="bar-4"></div>
                  </div>
               </div>
               <div class="side right">
                  <div>0</div>
               </div>
               <div class="side">
                  <div>Average</div>
               </div>
               <div class="middle">
                  <div class="bar-container">
                     <div class="bar-3"></div>
                  </div>
               </div>
               <div class="side right">
                  <div>0</div>
               </div>
               <div class="side">
                  <div>Bad</div>
               </div>
               <div class="middle">
                  <div class="bar-container">
                     <div class="bar-2"></div>
                  </div>
               </div>
               <div class="side right">
                  <div>0</div>
               </div>
               <div class="side">
                  <div>Very bad</div>
               </div>
               <div class="middle">
                  <div class="bar-container">
                     <div class="bar-1"></div>
                  </div>
               </div>
               <div class="side right">
                  <div>0</div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="panel panel-default">
      <div class="panel-heading">
         <div class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">Public Area</a>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
         </div>
      </div>
      <div id="collapse4" class="panel-collapse collapse">
         <div class="panel-body">
            <div class="row">
               <div class="side">
                  <div>Excellent</div>
               </div>
               <div class="middle">
                  <div class="bar-container">
                     <div class="bar-5"></div>
                  </div>
               </div>
               <div class="side right">
                  <div>0</div>
               </div>
               <div class="side">
                  <div>Good</div>
               </div>
               <div class="middle">
                  <div class="bar-container">
                     <div class="bar-4"></div>
                  </div>
               </div>
               <div class="side right">
                  <div>0</div>
               </div>
               <div class="side">
                  <div>Average</div>
               </div>
               <div class="middle">
                  <div class="bar-container">
                     <div class="bar-3"></div>
                  </div>
               </div>
               <div class="side right">
                  <div>0</div>
               </div>
               <div class="side">
                  <div>Bad</div>
               </div>
               <div class="middle">
                  <div class="bar-container">
                     <div class="bar-2"></div>
                  </div>
               </div>
               <div class="side right">
                  <div>0</div>
               </div>
               <div class="side">
                  <div>Very bad</div>
               </div>
               <div class="middle">
                  <div class="bar-container">
                     <div class="bar-1"></div>
                  </div>
               </div>
               <div class="side right">
                  <div>0</div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="panel panel-default">
      <div class="panel-heading">
         <div class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">Views</a>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
         </div>
      </div>
      <div id="collapse5" class="panel-collapse collapse">
         <div class="panel-body">
            <div class="row">
               <div class="side">
                  <div>Excellent</div>
               </div>
               <div class="middle">
                  <div class="bar-container">
                     <div class="bar-5"></div>
                  </div>
               </div>
               <div class="side right">
                  <div>0</div>
               </div>
               <div class="side">
                  <div>Good</div>
               </div>
               <div class="middle">
                  <div class="bar-container">
                     <div class="bar-4"></div>
                  </div>
               </div>
               <div class="side right">
                  <div>0</div>
               </div>
               <div class="side">
                  <div>Average</div>
               </div>
               <div class="middle">
                  <div class="bar-container">
                     <div class="bar-3"></div>
                  </div>
               </div>
               <div class="side right">
                  <div>0</div>
               </div>
               <div class="side">
                  <div>Bad</div>
               </div>
               <div class="middle">
                  <div class="bar-container">
                     <div class="bar-2"></div>
                  </div>
               </div>
               <div class="side right">
                  <div>0</div>
               </div>
               <div class="side">
                  <div>Very bad</div>
               </div>
               <div class="middle">
                  <div class="bar-container">
                     <div class="bar-1"></div>
                  </div>
               </div>
               <div class="side right">
                  <div>0</div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>