<div id="userInput" class="container-fluid">

   <h1>Your opinion</h1>

   <form>
      <div class="form-group">

         <label for="usr">Name:</label>
            <input type="text" class="form-control" id="usr" placeholder="Name">
         <label for="comment">Comment:</label>
            <textarea class="form-control" type="comment" rows="5" id="comment" placeholder="What do you think"></textarea> <br>

         <h2>Overall rating</h2>

      </div>
   </form>

   <form>
      <label class="radio-inline">
         <input type="radio" name="optradio">Very bad
      </label>

      <label class="radio-inline">
         <input type="radio" name="optradio">Bad
      </label>

      <label class="radio-inline">
         <input type="radio" name="optradio">Average
      </label>

      <label class="radio-inline">
         <input type="radio" name="optradio">Good
      </label>

      <label class="radio-inline">
         <input type="radio" name="optradio">Excellent
      </label>
   </form>

   <h2>Neighbors</h2>

   <form>
      <label class="radio-inline">
         <input type="radio" name="optradio">Very bad
      </label>

      <label class="radio-inline">
         <input type="radio" name="optradio">Bad
      </label>
   
      <label class="radio-inline">
         <input type="radio" name="optradio">Average
      </label>

      <label class="radio-inline">
         <input type="radio" name="optradio">Good
      </label>
   
      <label class="radio-inline">
         <input type="radio" name="optradio">Excellent
      </label>
   </form>

   <h2>Security</h2>

   <form>
      <label class="radio-inline">
         <input type="radio" name="optradio">Very bad
      </label>
   
      <label class="radio-inline">
         <input type="radio" name="optradio">Bad
      </label>
   
      <label class="radio-inline">
         <input type="radio" name="optradio">Average
      </label>
   
      <label class="radio-inline">
         <input type="radio" name="optradio">Good
      </label>
   
      <label class="radio-inline">
         <input type="radio" name="optradio">Excellent
      </label>
   </form>

   <h2>Public Area</h2>

   <form>
      <label class="radio-inline">
         <input type="radio" name="optradio">Very bad
      </label>

      <label class="radio-inline">
         <input type="radio" name="optradio">Bad
      </label>
   
      <label class="radio-inline">
         <input type="radio" name="optradio">Average
      </label>
   
      <label class="radio-inline">
         <input type="radio" name="optradio">Good
      </label>
      
      <label class="radio-inline">
         <input type="radio" name="optradio">Excellent
      </label>
   </form>

   <h2>Views</h2>

   <form>
      <label class="radio-inline">
         <input type="radio" name="optradio">Very bad
      </label>
      
      <label class="radio-inline">
         <input type="radio" name="optradio">Bad
      </label>
   
      <label class="radio-inline">
         <input type="radio" name="optradio">Average
      </label>
   
      <label class="radio-inline">
         <input type="radio" name="optradio">Good
      </label>
   
      <label class="radio-inline">
         <input type="radio" name="optradio">Excellent
      </label>
   </form><br>
   
   <button type="submit" class="btn btn-default" onclick="submitComment()">Submit</button>
</div>