<!DOCTYPE html>
<html>
<head>
   <% include ../head >
</head>

<body>

   <% include ../partials/login %>

   <% include ../partials/signup %>

   <% include ../partials/navbar %>

   <div id="container">
      <div id="firstview">
         <center>
            <br>
            <br>
            Welcome to RateMyHome
         </center>
      </div>
   </div>

   <button onclick="topFunction()" id="toTop" title="Go to top">Top</button>


</body>
</html>