<!DOCTYPE html>
<html>
<head>
   <% include ./partials/head %>
   <script src="map_script.js"></script>
   <link rel="stylesheet" href="/style2.css">
</head>
<body>
   
   <% include ./partials/navbar %>
   <% include ./partials/navbar2 %>

   <div id="container">

      <div id='map'></div>
      <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBIoXZqb6UZnfYX9_KalDVjxFnjS8VeSRQ&libraries=places&callback=initMap" async defer></script>

      <div id='placeholder'></div>

      <button onclick="topFunction()" id="toTop" title="Go to top">Top</button>
   </div>
      

</body>
</html>
