<html>
    <head> 
        <title>GeoHash</title>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBIoXZqb6UZnfYX9_KalDVjxFnjS8VeSRQ&libraries=places" async defer></script>
        <script type="text/javascript">
            var loadMap = function() 
            {
                var myOptions = {
                  center: new google.maps.LatLng(<%=lat%>, <%=lon%>),
                  zoom: <%=zoom%>,
                  mapTypeId: google.maps.MapTypeId.ROADMAP
                };
                var map = new google.maps.Map(document.getElementById("map"),
                    myOptions);
            };
            window.onload= loadMap;
        </script>
    </head>
    <body>
        <div id="map" style="width:500px;height:500px;"></div>
    </body>
</html>
